Repository GoogleCloudPlatform/terraform-genai-enterprise-knowledge-base, changes with the labels that .github/labeler.yaml gives for each.
All labels: webhook, terraform, testing, docs, infra

.github/labeler.yaml:

# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the 'License');
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an 'AS IS' BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Labeler assigns GitHub labels to PRs based on changed files.

webhook:
- changed-files:
  - any-glob-to-any-file:
    - webhook/**
terraform:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.tf'
testing:
- changed-files:
  - any-glob-to-any-file:
    - examples/**
    - test/**
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
infra:
- changed-files:
  - any-glob-to-any-file:
    - .flake8
    - .github/*
    - .github/**/*
    - Makefile
    - build/*
    - build/**/*

feat(deps): Update Terraform Google Provider to v5.45.0
  versions.tf
Labels: terraform

fix(deps): Update dependency mypy to v1.14.1
  webhook/requirements-test.txt
Labels: webhook

chore(deps): Update go modules and/or dev-tools
  build/int.cloudbuild.yaml
  test/integration/go.mod
  test/integration/go.sum
Labels: testing, infra

feat(deps): Update Terraform Google Provider to v6
  versions.tf
Labels: terraform

fix(deps): Update dependency google-cloud-aiplatform to v1.76.0
  webhook/requirements.txt
Labels: webhook
